
<div class="liker">
    <form action="{% url "clicker:handle-click" %}" method="post" class="liker__form">
        {% csrf_token %}
        <h1 class="liker__title" style="overflow: hidden;">{{ button.text }}</h1>
        <h3 class="liker__like-txt">Likes: <span class="liker__likes">{{ button.count }}</span></h3>
        <button type="button" value="like" name="val" class="liker__vote-button">Like 👍</button>
        <button type="button" value="dislike" name="val" class="liker__vote-button">Dislike 👎</button>
        <input type="hidden" name="id" value="{{ button.id }}" />
    </form>
</div>

