
body {
    margin: 0;
    padding: 0;
}

.navbar {
    margin: 0;
    padding: 0;
}

.navbar__ulist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar__ulist-item {
    margin: 0, 10px;
}

.navbar__link {
    font-size: 20pt;
}
