{% extends 'layouts/base.html' %}
{% load static %}

{% block head %}
    <title>Index</title>
    <script src="{% static 'js/like-script.js' %}" defer></script>
{% endblock head %}

{% block body %}
    <div class="button-container">
        {% for button in buttons %}
            {% Button button %}
        {% endfor %}
    </div>
    
    <form action="{% url 'clicker:new-button' %}" method="POST" style="padding: 50px 0;">
        {% csrf_token %}
        <h1>Create your own button: </h1>
        <input type="text" name="text" placeholder="Your text here" />
        <input type="submit" />
    </form>
{% endblock body %}
